* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}

.content-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 $m-size;
}

.button {
  border: none;
  background: $light-blue;
  color: $off-white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  line-height: 1;
  margin: 0.25rem;
  text-decoration: none;
}

// Appearing on Header
.button--link {
  background: none;
}

// Appearing on Dashboard body
.big-button {
  background-color: $dark-grey;
  border: none;
  border-bottom: .6rem solid darken($dark-grey, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  width: 100%;
  padding: 1.4rem;
  margin-bottom: $m-size;
}

// in Dashboard
.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
  margin-top: $xl-size;
}

.widget-header {
  background: $light-black;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}

.widget__message {
  color: $off-white;
  text-align: center;
  margin: 0;
  padding: $l-size;
  border-bottom: 0.2rem solid lighten($light-blue, 10%);
}

.widget-header__title {
  margin: 0;
}

// In Todo form
.add-todo {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.add-todo__input {
  font-size: $m-size;
  flex-grow: 1;
  background: $off-white;
  border: none;
  border-bottom: 0.3rem solid darken($dark-blue, 10%);
  margin: 0 0 $s-size 0;
  color: $light-black;
  padding: $s-size;
}

.add-todo__button {
  background: $dark-blue;
}

// add-option-error
.add-todo-error {
  color: $off-white;
  font-style: italic;
  padding: 0 $m-size;
  margin-top: $m-size;
}

@media (min-width: $desktop-breakpoint) {
  .add-todo {
    flex-direction: row;
  }

  .add-todo__input {
    margin: 0 $s-size 0 0;
  }
}